.formContainer {
  width: 70%; /* 3/4 da largura da tela */
  margin: auto; /* Centraliza horizontalmente */
  padding: 20px; /* Adiciona espaçamento interno */
  background-color: #f9f9f9; /* Cor de fundo para destacar */
  border-radius: 8px; /* Bordas arredondadas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra sutil */
}
h2{
  text-align: center;
}
.titulo {
  width: 100%;
  text-align: center;
  margin-left: 20px;
  margin-top: 20px;
}

.conteudo {
  color:  #616161;;
  display: flex;
  width: 100%;
}

.form {
  width: 50%;
  font-size: 150%;
  text-align: justify;
  padding: 4%;
}

.container {
  max-width: 800px;
  margin: 5 auto;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

table.table {
  width: 100%;
}

.modal-content {
  padding: 20px;
}

.modal-footer .btn {
  margin-left: 10px;
}

/* Responsividade */
@media (max-width: 1200px) {
  .conteudo {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .link {
    margin-left: 5%;
    margin-right: 5%;
    font-size: small;
  
  }
}

