.centralizar {
    display: flex; /* Torna o container flexível */
    align-items: center; /* Alinha verticalmente ao centro */
    justify-content: space-between; /* Espaça os itens igualmente */
    width: 100%; /* Faz o container ocupar toda a largura */
    padding:0px; /* Adiciona espaço interno */
    gap: 10px; /* Espaçamento entre os elementos */
    padding-top: 8%;
}

.tabela {
    flex: 1; /* Permite que a tabela ocupe um espaço proporcional */
    max-width: 50%; /* Limita a largura máxima da tabela */
    text-align: center;
    margin-left: 30px;
}

.esquerda {
    flex: 1; /* Ocupar um espaço proporcional */
    max-width: 50%; /* Limita a largura máxima */
    display: flex;
    flex-direction: column; /* Organiza os elementos em uma coluna */
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
    height: 100%; /* Ocupa a altura total */
    text-align: center; /* Centraliza o texto */
}

h3, h2 {
    color: #676767;
    font-size: 40px;
}

table {
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

table,
th,
td {
    border: 1px solid #ae7e7e;
}

th,
td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #1ac157;
    color: white;
}
